<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Data Science</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <p>Summer program participant for Data Analytics in the Google 2020 Summer Data Analyst Career Readiness Challenge.</p>
  </div>
  <div class="tech">
    <h2>Virtual Reality</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Earned Specialization Certification in Virtual Reality from University of London. Taught middle school and high school summer camps 3D-modeling and virtual reality development in Unity.</p>
  </div>
  <div class="tech">
    <h2>Teaching</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Taught at CS summer camp for young women for three years, YWiC (Young Women in Computing). Also taught at co-ed CS Adventures summer camp at the high school level.</p>
  </div>
</div>