<div class="user-details">
    <h1> Handwritten Numeral Identifier Online </h1>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <!--<img alt="MLModel2" src="{{ "/assets/img/MLModel2.png" | prepend: site.baseurl }}" />-->
  
    </div>
    <div class="contents-right">
      <h3> Handwritten Numeral Identifier - Lobe Beta Machine Learning Model, Deployed from Google Colaboratory and TensorFlow </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p> Use of Lobe beta ML model training platform, mounted through Google Drive within Google Colaboratory notebook. Deployed from notebook to run in a web broswer.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>