<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VRParkGame" src="{{ "/assets/img/VRParkGame.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> VR Park Clean-Up Game Demo </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Manipulation of C# scripts in Unity to create interactive 3-D environment in virtual reality. Use of visual interaction and eye gaze mechanics to pick up items around the park, carry them, and place them in garbage bins. Custom graphics rendering to create various items around the park as well as downloaded assets and local Unity-based assets. Some keyframe animation and audio recordings also included.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="MLModel2" src="{{ "/assets/img/MLModel2.png" | prepend: site.baseurl }}" />

  </div>
  <div class="contents-right">
    <h3> Prediction Model for Visitor Return Purchases on Website - Google BigQuery Machine Learning Model </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Building and training a machine learning model on GCP Big Query platform using public dataset for Google ecommerce data. Use of SQL queries and commands to run ML model over dataset and train it to predict liklihood of customer returns and purchases. Use of logistic regression to categorize whether users will or won't buy and narrow model's accuracy range.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="APICloud" src="{{ "/assets/img/APICloud.png" | prepend: site.baseurl }}" />
    <img alt="APICloud2" src="{{ "/assets/img/APICloud2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cloud Identification Machine Learning Model - Google Vision API and AutoML </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Building and training an automated ML model that uses Google's Vision API to learn. Feeding training buckets of cloud images into the model to teach it differences between different kinds of clouds. Eventually, deploying trained model to identify new images off the Internet and correctly classify them as different types of clouds. </p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <!--<img alt="MLModel2" src="{{ "/assets/img/MLModel2.png" | prepend: site.baseurl }}" />-->

  </div>
  <div class="contents-right">
    <h3> Handwritten Numeral Identifier - Lobe Beta Machine Learning Model, Deployed from Google Colaboratory and TensorFlow </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Use of Lobe beta ML model training platform, mounted through Google Drive within Google Colaboratory notebook. Deployed from notebook to run in a web broswer.</p>
    <a class="project-link" href="online-model.html">Check it out</a>
  </div>
</div>