<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VRParkGame" src="{{ "/assets/img/VRParkGame.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> VR Park Clean-Up Game Demo </h3>
    <ul>
      <li> Manipulation of C# scripts in Unity to create interactive 3-D environment in virtual reality. </li>
      <li> Use of visual interaction and eye gaze mechanics to pick up items around the park, carry them, and place them in garbage bins.</li>
      <li> Custom graphics rendering to create various items around the park as well as downloaded assets and local Unity-based assets.</li>
      <li> Some keyframe animation and audio recordings also included.</li>
    </ul>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="MLModel2" src="{{ "/assets/img/MLModel2.png" | prepend: site.baseurl }}" />

  </div>
  <div class="contents-right">
    <h3> Prediction Model for Visitor Return Purchases on Website - Google BigQuery Machine Learning Model </h3>
    <ul>
      <li> Building and training a machine learning model on GCP Big Query platform using public dataset for Google ecommerce data.</li>
      <li> Use of SQL queries and commands to run ML model over dataset and train it to predict liklihood of customer returns and purchases.</li>
      <li> Use of logistic regression to categorize whether users will or won't buy and narrow model's accuracy range.</li>
    </ul>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="APICloud" src="{{ "/assets/img/APICloud.png" | prepend: site.baseurl }}" />
    <!--<img alt="APICloud2" src="{{ "/assets/img/APICloud2.png" | prepend: site.baseurl }}" />-->
  </div>
  <div class="contents-right">
    <h3> Cloud Identification Machine Learning Model - Google Vision API and AutoML </h3>
    <ul>
      <li> Building and training an automated ML model that uses Google's Vision API to learn. </li>
      <li> Feeding training buckets of cloud images into the model to teach it differences between different kinds of clouds. </li>
      <li> Eventually, deploying trained model to identify new images off the Internet and correctly classify them as different types of clouds.</li>
    </ul>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <!--<img alt="MLModel2" src="{{ "/assets/img/MLModel2.png" | prepend: site.baseurl }}" />-->

  </div>
  <div class="team-projects-header">
    <h2 style="text-align:center"> Team Projects </h2>
  </div>
  <div class="contents-left">
    <h3> Toil and Trouble - Published VR Game on Unity Play </h3>
    <ul>
      <li> VR game created with basic Unity framework for an escape room in VR. </li>
      <li> Project built with WebGL to be launched on Unity Play. </li>
    </ul>
    <img src="toil.png" alt="Toil and Trouble VR video game playthrough screenshot.">
    <video width="320" height="240" controls>
      <source src="Boomerang2.0/Toil and Trouble Runthrough.mp4" type="video/mp4">
      <!--<source src="Toil and Trouble Runthrough.ogg" type="video/ogg">-->
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-left">
    <h3> Handwritten Numeral Identifier - Lobe Beta Machine Learning Model, Deployed from Google Colaboratory and TensorFlow </h3>
    <ul>
      <li> Use of Lobe beta ML model training platform, mounted through Google Drive within Google Colaboratory notebook.</li>
      <li> Deployed from notebook to run in a web broswer. </li>
    </ul>
    <a class="project-link" href="MLModels/mlmodel.html">Check out the basic visual framework here.</a>
  </div>
</div>